*{margin:0;padding:0;}
.header{background:url(../images/header_bg.png) no-repeat;height:878px;background-size:100% 100%;}
.first_row{margin-top:40px;}
.menu li a{color:white;}
.menu li a:hover{text-decoration:none;}
.menu li{padding:10px;position:relative;list-style:none;}
.menu li ul{display:none;position:absolute;}
.menu li:hover{border-bottom:2px solid #1abc9c;}
.menu li:hover > ul {display:block;position:absolute;}
.second_row{margin-top:220px;}
.text1,.text2{color:white;}
/*.btn1,.btn3{width:171px;height:58px;color:white;border-style:none;font-size:22px;}*/
.btn2{width:29px;height:29px;border-radius:50%;background:white;border-style:none;margin-left:-10px;z-index:1;position:relative;}
.text2{margin-top:50px;font-size:18px;line-height:40px;padding-bottom:50px;}
.btn1{background:#1abc9c;width:160px;height:53px;}
.btn3{background:#3498db;margin-left:-10px;width:160px;height:53px;}
.btn3:hover{background:#3498db;}
/*.container{width:950px;margin:0 auto;}*/
.btn1:hover{background:#1abc9c;}
.third_row{margin-top:130px;margin-bottom:150px;}
.text3{margin-top:30px;line-height:40px;font-size:18px;}
.graph{margin-top:20px;margin-left:50px;}
.service{background:#f6f6f6;height:398px;}
.fourth_row{padding-top:70px;}
.features{background:url(../images/background.png)no-repeat;height:517px;background-size:100% 100%;}
.fifth-row{margin-top:40px;color:#fff;line-height:30px;}
.sixth_row{margin-top:60px;}
.seventh_row{margin-top:139px;color:#34495e;}
.eighth_row{margin-top:77px;margin-bottom:140px;}
.small_row{margin-top:35px;}
.line_space{margin-top:30px;}
.arrow{margin-top:50px;margin-left:-2px;}
.contact{height:570px;background:#34495e;margin-top:140px;}
.ninth_row{color:white;margin-top:105px;}
.information{margin-top:30px;margin-bottom:30px;font-size:17px;color:#788694;}
/*.tenth_row{background:url(../images/footer.png) no-repeat;height:184px;margin-top:-24px;background-size:100% 100%;}*/
.tex{padding-top:100px;color:#fff;}
.space{margin-top:40px;}
.message,.subject{margin-top:30px;}
.form{margin-top:30px;}
.reset{background:#1abc9c;border-style:none;width:140px;position:relative;margin-right:15px;}
.reset:hover{background:#1abc9c;}
.submit{background:#3498db;border-style:none;width:140px;}
.submit:hover{background:#3498db;}
.row1,.row2,.row3{margin-top:10px;}
/*.name,.mail,.subject,.message{background:#5d6d7e;border:2px solid #5d6d7e;color:white;}*/
.tenth_row{background:#2c3e50;height:184px;}
.arrow_up{width:0; 
  height:0; 
  border-left: 10px solid transparent;
  border-right:10px solid transparent;  
  border-bottom: 15px solid #2c3e50;margin:0 auto;margin-top:-15px;}